---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/hero.astro'
import AboutMe from '../components/about-me.astro'
import Stacks from '../components/stacks.astro'
import EducationAndExperience from '../components/education-and-experience.astro'
import Projects from '../components/projects.astro'
import Footer from '../components/footer.astro'
import LoadingScreen from '../components/ui/loading-screen.astro'
import { getTranslations } from '../utils/i18n'

const locale = Astro.currentLocale ?? 'en'
const t = getTranslations(locale)
---

<Layout
	title={t.home.pageMetadata.title}
	description={t.home.pageMetadata.description}
>
	<div
		id='snap-container'
		class='bg-background h-dvh snap-y snap-mandatory overflow-y-auto'
	>
		<h1 class='sr-only'>{t.home.pageMetadata.srOnlyTitle}</h1>
		<LoadingScreen />
		<Hero />
		<AboutMe />
		<Stacks />
		<EducationAndExperience />
		<Projects />
		<Footer />
	</div>
</Layout>
