<div class='relative h-full w-fit'>
	<div class='absolute top-6 right-0 -bottom-6 -left-6 flex flex-col'>
		<div class='bg-muted h-12 w-full'></div>
		<div
			class='bg-background-secondary border-muted h-full w-md border-2 border-t-0'
		>
		</div>
	</div>

	<div class='relative z-10 flex h-full flex-col'>
		<div class='bg-border flex h-12 w-md items-center gap-2 px-4'>
			<div class='bg-background size-3.5 rounded-full'></div>
			<div class='bg-muted size-3.5 rounded-full'></div>
			<div class='bg-primary size-3.5 rounded-full'></div>
		</div>
		<div
			class='bg-background border-border text-foreground h-full w-md border-2 border-t-0'
		>
		</div>
	</div>
</div>
